# Environment
.env
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Uploads
uploads/
*.pdf

# IDE
.vscode/
.idea/
*.swp
*.swo

# Redis
dump.rdb

# Screenshots/Images
*.ps
*.eps
weaviate